* {
  box-sizing: border-box;
}



body {
  
  margin: 0;
  text-align: center;
  --article-left-margin:  2.5em;
  --footer-nav-left-margin: 5em;
}

.wrapper {
/*  width: 100vh; */
 /** max-width: 66em; **/
  margin: 0 auto;
  text-align:  left;
}

article {
  background:#3f3223;
  color: #fbf3e0; 
  
  white-space: pre;
}




article h1 , blockquote{
 font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ebe8de;
  font-size: 3em;
  font-weight: lighter;
  text-align: left;
  

}

article h1::before {
  content: 'I';
  font-size: 3em;
    vertical-align: text-top;
    color:  #7a6646;
    margin-right: 0em;
    margin-left: 0.25em;
    margin-top: 0em;
    margin-bottom: 0em;
  
}


article h1 {
  
  margin:0;


   }

article div.article-part-title {

 margin-top: 0;
 margin-bottom: 0;
 margin-right: 0;
 margin-left: 1em;
 display: inline-block;

 

}

article span.middle-word {
  font-family: cursive;
  color: #f9e4c1;
}


blockquote {
   margin-left: -2em;
}

hr {
    color:   #7a6646;
    margin-top: -4em;
     margin-bottom: -1em;
     width: 75%;
     text-align: left;
    margin-left: 3em; 
}


article p {
  font-family: Arial, Helvetica, sans-serif;

}

div.multi {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;

}

div.multi p {
  -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    text-align: left;
     font-size:180%;
     line-height: 200%;
     margin-left: var(--article-left-margin) ;

}


.article-title {
  font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 7px;
    font-weight: lighter;
}





.column1, .column2 {
    margin-top: 0;
    color: #f7efdd;
    font-family: Arial, Helvetica, sans-serif
}


footer {

    margin: 0;
    padding: 0;
    column-count: 1;
}


footer p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: lighter;
  letter-spacing: 10px;
  font-size: 180%;
  text-align:  left;


}


footer ul {
  list-style: none;
  padding: 0;
  margin-right: 0;
  margin-top:  1em;
  margin-bottom: 0em;
  line-height: 50%; 
  font-size: 180%;
  font-weight: lighter;
}



footer li {
    font-family:  Arial, Helvetica, sans-serif;
     margin-left: var(--footer-nav-left-margin) ;
    
}



footer div.article-parts-nav, div.article-parts-section-nav {

  margin-top: -1em;

  margin-bottom: 0em;
}

footer div.article-parts-nav p, div.article-parts-section-nav  p {

  margin-left: 5em;
}

footer nav {
  margin-bottom:-1em;
  margin-top: -4em;
  
  
}


a:link,a:visited {
  color: #fbf3e0; 
}
a {
 text-decoration: none;
}




/************************/
/** desktop media query */

@media screen and (min-width: 768px){
  
article h1 {
 
  font-size: 2em;
 
  

}

article h1::before {
  content: 'I';
  font-size: 2em;
   ;
  
}

div.multi {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 1rem;
}

div.multi p {
  -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    text-align: left;
     margin-left: 2em;
     font-size: 100%;
    
}

article h1 {
 font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ebe8de;
  font-size: 4em;

}



p.column2 {
 break-before: column;

}


article  blockquote{
 
  font-size: 2em;
   margin-left: -3em;

  

}


footer nav {
 padding: 0;
  margin: 0;

}
footer p {
 
  font-size: 100%;

}

footer ul {
   
  font-size: 100%;

}

footer.article-parts-links li {
  margin-left: var(--footer-nav-left-margin) ;
}
footer.article-parts-section-nav li {
  margin-left: 2em;
}

.article-parts-links , .article-parts-section-nav {
  line-height: 75%;
}



/*************************/

}






