/* css resets */
* {
	margin:0; 
	padding:0;
  

}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 1em;
	font-size: 100%;
	white-space: pre;
	   box-sizing: border-box;
}
article {
	   box-sizing: border-box;
}
nav {
	   box-sizing: border-box;
}
footer {
	   box-sizing: border-box;
}

.main {
/**
  max-width: 70em;
  columns: 20em;
  column-gap: 1.5em;
  margin: 0 auto;
**/
}

p + p {
/**  text-indent: 1.25em; **/
}