* {
  box-sizing: border-box;
}

body {
  font-family: arial;
}

article {
  background: brown;
  padding: 1em;
}
article p {
  color: #fff;
  padding: 1em 0;
}
article span {
  background: #2C3E50;
  color: #fff;
  display: inline-block;
  min-height: 150px;
  padding: 1em;
  vertical-align: top;
  width: 100%;
}
@media (min-width: 600px) {
  article span {
    width: 50%;
  }
}
article span:last-child {
  background: #1a252f;
}
